.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navgradient {
  background: linear-gradient(
    0deg,
    rgb(245, 203, 16) 0%,
    rgb(189, 38, 38) 100%
  );
}

#logo {
  background-color: "#FFA624";
}

img {
  object-fit: stretch;
  height: 100%;
  width: 100%;
}

.container-fluid {
  width: fill;
  display: grid;
  justify-content: space-between;
}

.card {
  margin: 20px;
  width: 25%;
}

.card {
  justify-content: space-between;
}

.NavSpacing {
  margin-top: 66px !important;
}

.workoutLink {
  text-decoration: none !important;
  color: black;
  font-weight: 500;
}

.dropdown-Nav {
  color: black !important;
  background-color: transparent !important;
}

.navhead {
  color: white !important;
}
.error-img {
  display: block;
  width: auto;
  height: 80vh;
  margin: auto;
}
.error-background {
  background-color: #ffd554;
  padding-bottom: 20%;
}

.home-title {
  margin-top: 5%;
  font-size: 80px;
  font-weight: bold;
}

.card-containers {
  width: fill;
  margin-top: 15%;
  /* background-color: rgb(194, 137, 32); */
  opacity: 0.25;
  transition: 500ms ease-in-out;
}

div > h5 {
  text-align: center;
  font-weight: bold;
}

.form-cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.auth-form-cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background-color: rgb(49, 48, 48);
  opacity: 0.95;
  color: white;
}

.get-started-button {
  width: 15%;
  transition: 500ms ease-in-out;
  margin-bottom: 2rem;
}

.get-started-button:hover {
  width: 25%;
  font-size: 20px;
}

.card-containers:hover {
  transform: scale(1.1);
  opacity: 1;
  background-color: rgb(255, 145, 0);
}

.detail-button-container {
  display: grid;
  width: 100%;
  grid-template-rows: 1;
  grid-template-columns: repeat(2, 10%);
  justify-content: center;
}

.createorupdate-button-container {
  display: grid;
  align-items: center;
  margin: auto;
  margin-top: 5%;
}

.detail-button {
  margin-left: 5%;
  margin-right: 5%;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.auth-container {
  background: url("./images/splash.mp4") center center/cover no-repeat;
  height: calc(100vh-66px);
  width: 100%;
  display: flex;
  flex-direction: column;
  object-fit: contain;
}

.carousel-index {
  z-index: -1;
  position: fixed;
  width: 100%;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  height: 150%;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.workout-background {
  height: 100vh;
  width: 100%;
  position: fixed;
  filter: brightness(100%);
  background-image: url("./images/vector.svg");
  z-index: -1;
}

.workout-container {
  background-color: #b9fbb9 !important;
}

.updateform-background {
  background-color: #90e0ef !important;
}

.list-container {
  background-color: white;
}

.suggestion-buttons {
  margin-top: 5%;
}

.video-td {
  width: 300px;
}

.cardio-video {
  width: 500px;
  display: block;
  margin: auto;
}

.detail-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.detail-notes {
  word-wrap: break-word;
}

.table-header {
  font-size: 25px;
}

.existingaccount {
  font-weight: bold;
}

.existingaccount-container {
  margin-top: 3%;
}

.signup-video {
  filter: brightness(60%);
}

.cardio-workout-title {
  display: flex;
  justify-content: center;
}

.list-margin {
  padding-top: 5% !important;
}

.workout-background {
  padding-top: 0%;
  padding-bottom: 5%;
  height: 100vh;
  width: 100%;
  position: fixed;
  filter: brightness(100%);
  background-image: url("./images/vector.svg");
  z-index: -1;
}

.workout-form-background {
  padding-top: 0%;
  padding-bottom: 12%;
  height: 100%;
  width: 100%;
  filter: brightness(100%);
  background-image: url("./images/vector.svg");
  z-index: -1;
  overflow-x: hidden;
}

.table-responsive {
  height: 60vh;
  overflow-y: scroll;
  scrollbar-width: 0px;
}
